*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body{
    font-family: 'Muli' ,sans-serif;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
#top_bar{
    background-color: #000;
    height: 40px;
    width: 100%;
}
#top_bar .container{
    height: 40px;
    max-width: 1140px;
    margin: 0 auto;
}
#top_bar .container .row{
    display: flex;
    height: 40px;
    width: 100%;
}
#top_bar .container .row .top_bar_left{
    width: 50%;
    line-height: 40px;
    color: white;
    font-size: 22px;
}
#top_bar .container .row .top_bar_right{
    width: 50%;
}
.top_bar_icon {
    justify-content: end;
    display: flex;
    line-height: 40px;
}
.top_bar_icon i{
    font-size: 20px;
    margin: 0 15px;
    color: aquamarine;
}
#logo_bar{
    background-color: rgb(232, 241, 250);
    height: 140px;
    width: 100%;
    /* padding: 30px 0 60px; */
}
#logo_bar .container{
    height: 60px;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 55px ;
}
#logo_bar .container .row{
    display: flex;
    height: auto;
    width: 100%;
}
#logo_bar .logo_bar_left {
    width: 10%;
}
#logo_bar .logo_bar_left h2{
    font-size: 30px;
    line-height: 60px;
}
#logo_bar .logo_bar_right {
    display:inline-flex;
    justify-content: end;
    width: 90%;
}
.logo_bar_right .inline_col {
    display: flex;
    margin-left: 40px;
}
.logo_bar_right .icon_block i{
    font-size: 50px;
    line-height: 60px;
    margin-right: 20px;
    color: rgb(78, 224, 176);
}
.logo_bar_right .info_block{
    
    text-align: start;
}
.logo_bar_right .info_block h5{
    font-size: 20px;
    margin-bottom: 10px;
}
#menungang{
    width: 1140px;
    margin: 0 auto;
    height: 90px;
    background-color: #2fbd86;
    border-radius: 10px;
}
.task_bar{
    display: flex;
    justify-content: space-between;
}
.task_bar .colmenu{
    display: flex;
}
.task_bar .colmenu li a{
    font-size: 20px;
    color: aliceblue;
    font-weight: 900;
    line-height: 90px;
    margin: 0 10px;
}

.task_bar .celmenu li a{
    font-size: 15px;
    color: #000;
    line-height: 90px;
    background-color: #fff;
    margin-right: 70px;
    padding: 15px;
    border-radius: 25px;
}
.task_bar .celmenu li a:hover{
    background-color: #2fbd86;
    color: #fff
}
/* ket thuc header */


/*  section */
.section {
position: relative;
padding: 7.5rem 0;
}
.container {
max-width: 1140px;
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
.mb-4, .my-4 {
margin-bottom: 1.5rem!important;
}
.justify-content-center {
justify-content: center!important;
}
.row {
display: flex;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}
.text-center {
text-align: center!important;
}
.col-lg-6 {
flex: 0 0 50%;
max-width: 50%;
}
.col-lg-6, .col-md-8{
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
.section-title {
font-size: 35px;
font-weight: 700;
text-transform: capitalize;
}
.mb-2, .my-2 {
margin-bottom: 0.5rem!important;
}
h2{
line-height: 1.35;
}
.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
p {
    font-size: 15px;
    color: #6c757d;
    line-height: 1.5;
}
.col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-lg-4,.col-md-6,.col-sm-6{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.process-block {
    text-align: center;
}
.process-block img {
    border-radius: 5px;
    margin-bottom: 30px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
.process-block h3 {
    margin-bottom: 15px;
}
.h3, h3 {
    font-size: 1.375rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    line-height: 1.35;
    color: #212529;
}
.process-block {
    text-align: center;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .92);
}
.section-heading {
    margin-bottom: 80px;
}
.text-white {
    color: #fff!important;
}
.h1, h1 {
    font-size: 2.125rem;
    line-height: 40px;
}
.h3, h3 {
    font-size: 1.375rem;
}
#projects-wrap p.lead {
    color: #a9a9a9!important;
}
.lead {
    font-size: 1.0625rem;
    font-weight: 300;
}
#projects {
    margin-top: -60px;
}
.mb-5, .my-5 {
    margin-bottom: 45px!important;
}
.single-project img {
    border-radius: 10px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
.project-content {
    text-align: center;
    padding: 40px 20px;
    position: relative;
}
.project-content h4 {
    text-transform: capitalize;
}
.h4, h4 {
    font-size: 25px;
}
.project-content p {
    margin-top: 20px;
}
p {
    margin-bottom: 0px;
    font-size: 15px;
}
.pb-4, .py-4 {
    padding-bottom: 30px!important;
}
.pt-4, .py-4 {
    padding-top: 30px!important;
}
.col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.col-lg-7,.col-md-12,.col-md-12{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.project-content-block {
    padding: 70px 40px;
    margin-left: -120px;
    background: #F4F7FC;
    position: absolute;
    bottom: -70px;
    border: 15px solid#fff;
    box-shadow: 0 7px 22px rgb(0 0 0 / 8%);
}
.project-content-block h4 {
    color: #21c87a;
    padding-bottom: 15px;
}
.h2, h2 {
    font-size: 25px;
    padding-bottom: 15px;

}
.project-content-block p {
    margin-top: 25px;
}
p{
    font-size: 15px;
    line-height: 2;
}
.blog-box .blog-img-box img {
    border-radius: 5px;
    box-shadow: 0 7px 12px rgb(0 0 0 / 8%);
}
h6 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .75rem;
}
a {
    color: #21c87a;
}
.blog-content p {
    margin: 20px 0px;
}

/* ket thuc section */







/* footert */
#footer {
    padding: 80px 0px;
    position: relative;
    
}
.footer-overlay {
    background: #111;
    opacity: .94;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.containerss {
    width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.justify-content-start {
    display: flex;
    justify-content: space-between;
}
.col-sm-12, .col-lg-2{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.footer-brand {
    font-size: 30px;
}

.footer-widget p {
    color: #888;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 32px;
    font-size: 14px;
}
.text-white {
    color: #fff!important;
}
.footer-widget{
    color: #fff;
   
}
.footer-widget h3{
    margin-bottom: 32px;
}
.footer-links li a {
    color: #888;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 32px;
    font-size: 14px;
}
ul li {
    list-style-type: none;
}
.footer-links li a i{
    margin-right: 15px;
}
.rows {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}